# fly.toml file generated for damda on 2023-04-04T11:57:11+08:00

app = "damda"
kill_signal = "SIGINT"
kill_timeout = 5
mounts = []
primary_region = "sin"
processes = []

[build]
  image = "danialshaharuddin/datingapp:latest"

[env]
  ASPNETCODE_URLS="http:/+:8080"
  CloudinarySettings__CloudName="dk1mgblu8"
  CloudinarySettings__ApiKey="967445353679743"

  [experimental]
  allowed-public-ports = []
  auto-rollback= true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
